.footer{
    background-color: #000;
    padding: 32px 0 27px;
    
}

.soc {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.soc .soc-item{
    margin-right: 35px;
}

.soc .soc-item:last-child{
    margin-right: 0;
}

.soc .soc-item .soc-item__link{
    text-decoration: none;
    color: #CCCCCC;
}

.soc .soc-item .soc-item__link i{
    font-size: 42px;
}

.copy{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}