.header{
    background: url(../images/banner.jpg) no-repeat center;
    background-color: #CCC;
    background-size: cover;
    height: 100vh;
}

.line{
    background: #000000;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.line .line-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line .line-wrap .line-wrap-item .line-wrap-item__logo{
    margin-left: -50px;
}
.navigation{
    display: block;
}
.navigation .navigation__list{
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation .navigation__list .navigation__item{
    list-style: none;
    margin: 0 30px;
    font-family: 'OpenSansSemiBold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
}

.navigation .navigation__list .navigation__item .navigation__link{
    color: #fff;
    text-decoration: none;
}
.hamburger {
    display: none;
}
.hamburger .hamburger__line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: 6px 0 0 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.hamburger .hamburger__line:first-child{
    margin: 0;
}

.banner-bg{
    padding: 83px 0;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.banner .banner-left {
    flex-basis: 670px;
    padding-top: 20px;
}

.banner .banner-right {
    flex-basis: 470px;
}

.banner .banner-left .banner-left__title{
    font-family: 'RalewayMedium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 50px;
}

.banner .banner-left .banner-left__line{
    border: 1px solid #FFFFFF;
    background-color: #fff;
    width: 170px;
    margin-top: 55px;
}

.banner .banner-left .banner-left__text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 270px;
    margin-top: 42px;
}

.banner .banner-left .banner-left__button{
    margin-top: 42px;
}

.free{
    width: 470px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
}

.free .free__title{
    font-family: 'RalewayBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #333333;
    padding: 30px 50px;
    text-align: center;
}

.free .free__title--color{
    color: #EC7979;
}

.free .free-form .free-form-item {
    padding: 0 50px;
    margin-top: 45px;
}

.free .free-form .free-form-item .free-form__input{
    display: block;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;
    outline: 0;
    font-family: 'OpenSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 33px;
    padding-bottom: 15px;
}

.free .free-form .free-form-item .free-form__input::placeholder{
    font-family: 'OpenSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.free .free-form .free-form__btn{
    background: #EC7979;
    width: 100%;
    height: 58px;
    color: #fff;
    font-family: 'OpenSansSemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: 0;
    cursor: pointer;
    display: block;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: 0;
}