.tabs{
    margin: 100px 0;
}
.tabs .tabs-list{
    display: flex;
    margin-bottom: -1px;
}
.tabs .tabs-list .tabs-list__item{
    font-family: 'OpenSansRegular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #333333;
    /* display: inline-block; */
    width: 233px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #C6CBCD;
}

.tabs .tabs-list .tabs-list__item.active{
    border: 1px solid #C6CBCD;
    border-bottom: 0;
    border-radius: 5px 5px 0px 0px;
    
}

.tabs .tabs-content.active{
    display: flex;
    justify-content: space-between;
}

.tabs .tabs-content {
    border: 1px solid #C6CBCD;
    border-top: 0;
    height: 500px;
    display: none;
}

.tabs .tabs-content .tabs-content-right{
    width: 693px;
    /* display: inline-block; */
    padding: 0 30px 0 100px;
    box-sizing: border-box;
    vertical-align: top;
}

.tabs .tabs-content .tabs-content-right .tabs-content-right__title{
    margin-top: 55px;
    font-family: 'OpenSansBold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.tabs .tabs-content .tabs-content-right .tabs-content-right-description{
    margin-top: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.tabs .tabs-content .tabs-content-right .tabs-content-right__button{
    margin-top: 40px;
}

.tabs .tabs-content .tabs-content-left{
    width: 470px;
    /* display: inline-block; */
    border-top: 1px solid #C6CBCD;
    height: 500px;
}

.tabs .tabs-content .tabs-content-left .tabs-content-left__img{
    display: block;
    width: 100%;
    height: 100%;
    /* padding-left: 1px; */
}